<!DOCTYPE html>
<html mlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <a href="empezar" class="logo nav-link">ULEAM SURVEY</a>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a href="perfil" class="nav-menu-link nav-link">Perfil</a>
          </li>
          <li class="nav-menu-item">
            <a href="configuracion" class="nav-menu-link nav-link"
              >Configuraciones</a
            >
          </li>
          <li class="nav-menu-item">
            <a href="ayuda" class="nav-menu-link nav-link">Ayuda</a>
          </li>
          <li class="nav-menu-item">
            <a href="login" class="nav-menu-link nav-link">Cerrar sesion</a>
          </li>
        </ul>
      </nav>
    </header>
    <span style="color: red">
      <CENTER><h2>PERFIL</h2></CENTER>
      <div class="contendor">
        <img
          src="/assets/imagen2.jpg"
          alt="Foto de Johan Sanchez"
          class="imagen"
        />
      </div>
      <CENTER><h2>DATOS PERSONALES</h2></CENTER>
      <CENTER> <h3>NOMBRES:</h3></CENTER>
    </span>
    <CENTER><strong>JOHAN FRANCISCO</strong></CENTER>
    <span style="color: red">
      <CENTER> <h3>APELLIDOS:</h3></CENTER>
    </span>
    <CENTER><strong>SANCHEZ MERO</strong></CENTER>
    <span style="color: red">
      <CENTER> <h3>CEDULA DE IDENTIDAD:</h3></CENTER>
    </span>
    <CENTER><strong>1315207769</strong></CENTER>
    <span style="color: red">
      <CENTER> <h3>LUGAR DE NACIMIENTO:</h3></CENTER>
    </span>
    <CENTER><strong>MANABI - MANTA</strong></CENTER>
    <span style="color: red">
      <CENTER> <h3>FECHA DE NACIMIENTO:</h3></CENTER>
    </span>
    <CENTER><strong>17 DE ABRIL 2002</strong></CENTER>
    <span style="color: red">
      <CENTER> <h3>EDAD:</h3></CENTER>
    </span>
    <CENTER><strong>20 AÑOS</strong></CENTER>
    <span style="color: red">
      <CENTER> <h3>ESTADO CIVIL:</h3></CENTER>
    </span>
    <CENTER><strong>SOLTERO</strong></CENTER>
    <span style="color: red">
      <CENTER> <h3>DOMICILIO:</h3></CENTER>
    </span>
    <CENTER><strong>BARRIO "LOS ESTEROS"</strong></CENTER>
    <CENTER> <h3>CELULAR:</h3></CENTER>
    <CENTER><strong>0979341684</strong></CENTER>
    <span style="color: red">
      <CENTER> <h3>CORREO:</h3></CENTER>
    </span>
    <CENTER><strong>e1315207769@live.uleam.edu.ec</strong></CENTER>
    <span style="color: red">
      <CENTER><h2>FORMACION ACADEMICA</h2></CENTER>
    </span>
    <p>
      <CENTER>
        <strong>PRIMARIA</strong><BR /> UNIDAD EDUCATIVA "12 DE OCTUBRE"<br />
        <strong>SECUNDARIA</strong><BR /> UNIDAD EDUCATIVA FISCAL "4 DE
        NOVIEMBRE"<br />
        <strong>EDUCACION SUPERIOR</strong><BR /> UNIVERSIDAD LAICA "ELOY
        ALFARO" DE MANABI<BR /> FACULTAD DE CIENCIAS DE LA VIDA Y TECNOLOGIA –
        TECNOLOGIAS DE LA INFORMACION<BR />
        QUINTO SEMESTRE - ACTUALMENTE
      </CENTER>
    </p>
    <span style="color: red">
      <CENTER><h2>EXPERIENCIA LABORAL</h2></CENTER>
    </span>
    <p>
      <CENTER>
        <strong>CIBER CABINAS "JC"</strong><BR />
        <STRONG>CARGO:</STRONG> ATENCION AL CLIENTE<BR />
        <STRONG>TIEMPO:</STRONG> AÑOS<BR />
        <strong>TIENDAS INDUSTRIALES ASOCIADAS S.A.</strong><BR />
        <STRONG>CARGO:</STRONG> TRABAJADOR OPERATIVO<BR />
        <STRONG>TIEMPO:</STRONG> LABORANDO ACTUALMENTE
      </CENTER>
    </p>
    <span style="color: red">
      <CENTER><h2>CURSOS REALIZADOS</h2></CENTER>
    </span>
    <p>
      <CENTER>
        4
        <CENTER>BOOTCAMP COMMUNITIES FACCI 2021<BR /> CEDIA TICEC FACCI 2022</CENTER
        >
      </CENTER>
    </p>
    <CENTER>
      <span style="color: red">
        <CENTER><h2>REFERENCIA PERSONAL</h2></CENTER>
      </span>
    </CENTER>
    <CENTER>
      <table>
        <tr>
          <th scope="col">NOMBRE</th>
          <th scope="col">PROFESION</th>
          <th scope="col">NUMERO</th>
          <th scope="col">E-MAIL</th>
        </tr>
        <tr>
          <td><CENTER>LIC. TOALA MIELES JAZMIN</CENTER></td>
          <td><CENTER>CAJERA</CENTER></td>
          <td><CENTER>0992337213</CENTER></td>
          <td><CENTER>jazmintoalam@gmail.com</CENTER></td>
        </tr>
        <tr>
          <td><CENTER>NG. SANCHEZ MERO FRANCISCO</CENTER></td>
          <td><CENTER>ASISTENTE TECNICO DE TI</CENTER></td>
          <td><CENTER>0959524954</CENTER></td>
          <td><CENTER>sanchezbf2011@gmail.com</CENTER></td>
        </tr>
        <tr>
          <td><CENTER>ARQ. BARREZUETA MERO CARLOS</CENTER></td>
          <td><CENTER>AVALUO</CENTER></td>
          <td><CENTER>0999269320</CENTER></td>
          <td><CENTER>carlosanbm97@gmail.com</CENTER></td>
        </tr>
      </table>
    </CENTER>
  </body>
</html>
