<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EMPEZAR SURVEY ULEAM</title>
  </head>
  <body>
    <section class="Empezar-Encuesta">
      <img src="/assets/uleam.png" style="width: 150px; height: 150px" />
      <br />
      <p><a>Escoja su facultad:</a></p>
      <form>
        <select name="Facultades" id="facultadSelect">
          <option selected disabled>Escoja una Facultad</option>
        </select>
      </form>
      <p><a>Escoja su carrera:</a></p>
      <form>
        <select name="Carreras" id="carreraSelect">
          <option selected disabled>Escoja una Carrera</option>
        </select>
      </form>
      <p><a>Ingrese código de encuesta:</a></p>
      <input
        class="controles"
        type="text"
        name="codigo"
        id="codigo"
        placeholder="#A1B2"
      />
      <input class="botones" type="submit" value="Siguiente" />
    </section>
  </body>
</html>
