<!DOCTYPE html>
<html mlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CONFIGURACION SURVEY ULEAM</title>
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <a href="empezar" class="logo nav-link">ULEAM SURVEY</a>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a href="perfil" class="nav-menu-link nav-link">Perfil</a>
          </li>
          <li class="nav-menu-item">
            <a href="configuracion" class="nav-menu-link nav-link"
              >Configuraciones</a
            >
          </li>
          <li class="nav-menu-item">
            <a href="ayuda" class="nav-menu-link nav-link">Ayuda</a>
          </li>
          <li class="nav-menu-item">
            <a href="login" class="nav-menu-link nav-link">Cerrar sesion</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="Configuracion-Encuesta">
      <BR />
      <BR />
      <BR />
      <p>Configuracion</p>
    </section>
  </body>
</html>
