<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/assets/icono.png" />
    <title>LOGIN SURVEY ULEAM</title>
    <link
      rel="stylesheet"
      href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header class="header">
      <nav class="nav">
        <a href="eleccion" class="logo nav-link">ULEAM SURVEY</a>
        <ul class="nav-menu">
          <li class="nav-menu-item">
            <a href="perfil" class="nav-menu-link nav-link">Perfil</a>
          </li>
          <li class="nav-menu-item">
            <a href="configuracion" class="nav-menu-link nav-link"
              >Configuraciones</a
            >
          </li>
          <li class="nav-menu-item">
            <a href="ayuda" class="nav-menu-link nav-link">Ayuda</a>
          </li>
          <li class="nav-menu-item">
            <a href="login" class="nav-menu-link nav-link">Cerrar sesion</a>
          </li>
        </ul>
      </nav>
    </header>
    <section class="Ayuda-Encuesta" id="Login-Encuesta">
      <center>
        <img
          src="/assets/uleam.png"
          style="width: 150px"
          style="height: 150px"
        />
      </center>

      <CENTER
        ><p>
          MISION.<BR />Formar profesionales competentes y<BR /> emprendedores
          desde lo académico, la investigación, y<BR /> la vinculación, que
          contribuyan a mejorar la calidad de<BR /> vida de la sociedad.
        </p>
        <BR
      /></CENTER>

      <CENTER
        ><p>
          VISION.<BR />Ser un referente nacional e internacional de<BR />
          Institución de Educación Superior que contribuye al<BR /> desarrollo
          social, cultural y productivo con profesionales<BR /> éticos,
          creativos, cualificados y con sentido de<BR /> pertinencia.
        </p></CENTER
      >
    </section>
  </body>
</html>
