<!DOCTYPE html>
<html mlns="http://www.w3.org/1999/xhtml" lang="es" xml:lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ELECCION SURVEY ULEAM</title>
  </head>
  <body>
    <section class="Eleccion-Encuesta">
      <center>
        <img
          src="/assets/uleam.png"
          style="width: 150px"
          style="height: 150px"
        />
      </center>
      <BR />
      <h4>BIENVENIDO A SURVEY ULEAM</h4>
      <br />
      <p><a>Seleccione "Crear" si desea crear su propia encuesta:</a></p>
      <BR />
      <CENTER><a class="botones" href="crear">Crear</a></CENTER>
      <p>
        <a
          >Seleccione "Empezar" si desea responder una encuesta ya elaborada:</a
        >
      </p>
      <CENTER><a class="botones" href="empezar">Empezar</a></CENTER>
    </section>
  </body>
</html>
